.container {
    margin: auto;
    max-width: 750px;
    font-family: sans-serif;
}
.heading {
    color: green;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: black;
}
.center {
    margin-left: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}