@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto Slab";
    color: white;
}

html {
    min-height: 100%;
 }

body {
    background: radial-gradient(at top left, rgb(85, 85, 85) 0%, black 100%);
    background-repeat: no-repeat;
    min-height: 100%;
}

.container {
    margin: auto;
    max-width: 750px;
}
.heading {
    color: white;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: white;
}
.center {
    margin-left: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}